body {
    background-image: url('https://images.pexels.com/photos/254178/pexels-photo-254178.jpeg?cs=srgb&dl=pexels-andrey-niqi-19566-254178.jpg&fm=jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    border-radius: 600px;
    height: 50%;
    width: 15%;
    margin-right: 80%;
    margin-bottom: 20%;
}
h2{
    text-align: center;
   right: 100%;
}
nav {
   position: absolute;
    width: 495px;
    height: 50px;
    background: #222;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    align-items: center;

}

nav a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding: 0 19px;
    z-index: 10;
}

nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(45deg, #194b4f, #33fffc);
    border-radius: 10px;
    transition: 0.5s;
}

nav a:nth-child(1):hover ~ span {
    left: 0px;
}

nav a:nth-child(2):hover ~ span {
    left: 95px;
}

nav a:nth-child(3):hover ~ span {
    left: 190px;
}

nav a:nth-child(4):hover ~ span {
    left: 285px;
}
nav a:nth-child(5):hover ~ span {
    left: 400px;
}

main{
    text-align: right;
}