*{
    margin: 0%;
    padding: 0%;
}

.main{
    width: 100%;
    background-image: url("https://media.istockphoto.com/id/186807668/photo/a-picture-of-green-sunbeams-in-the-forest.webp?b=1&s=170667a&w=0&k=20&c=i6Wu0C4Fsk1g6WDhM7RKL52SjGt5tKP56VmdrQBGazs=");
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: orange;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ol li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
transition: 0.4s ease-in-out;
}
